{% extends "main/layout.html" %}

{% block head_title %}Detalle de Tarea{% endblock %}
{% block page_title %}Detalle de Tarea{% endblock %}

{% block page_content %}
    <h1>{{titulo}}</h1>
    <h2>Detalle Tarea: {{task.name}}</h2>
    <p class="">{{task.description}}</p>
    <p>
        <a href="{% url "task:update" task.pk %}" class="">Editar</a>
        <a href="{% url "task:delete" task.pk %}" class="">Eliminar</a>
    </p>
    <p><a href="{% url "task:list" %}" class="">Volver a la lista de tareas</a></p>
    
{% endblock %}