{% load i18n %}

<ul>
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'search' %}">Buscar</a></li>
    <li><a href="{% url 'task:list' %}">Tareas</a></li>
    <li><a href="{% url 'subtask:list' %}">Subtareas</a></li>
    <li><a href="{% url 'contact' %}">Contacto</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    {% endif %}
  

  <section class="user">
    {% if request.user.is_authenticated %}
      <p>Estás logueado como: {{ request.user }}</p>
    {% else %}
      <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
  </section>
</ul> 

<form action="{% url "set_language" %}" method="post">
  {% csrf_token %}
  <select name="language">
    {% get_current_language as LANGUAGE_CODE %}
    {% for lang_code, lang_name in LANGUAGES %}
      <option value="{{lang_code}}" {% if LANGUAGE_CODE == lang_code %}selected{% endif %}>
        {{lang_name}} ({{lang_code}})
      </option>
    {% endfor %}
  </select>
  <input type="hidden" name="next" value="{{ request.path }}">
  <input type="submit" value="{% trans "Cambiar" %}">
</form>

{% if messages %}
  <section class="messages">
    <ul>
      {% for message in messages %}
        <li class="message {{message.tags }}">{{message}}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
