<ul>
    <li><a href="{% url 'home' %}">Inicio</a></li>
    <li><a href="{% url 'search' %}">Buscar</a></li>
    <li><a href="{% url 'task:list' %}">Tareas</a></li>
    <li><a href="{% url 'subtask:list' %}">Subtareas</a></li>
    <li><a href="{% url 'contact' %}">Contacto</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    
    {% if request.user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>
    {% endif %}
  

  <section class="user">
    {% if request.user.is_authenticated %}
      <p>Estás logueado como: {{ request.user }}</p>
    {% else %}
      <p><a href="{% url 'login' %}">Login</a></p>
    {% endif %}
  </section>
</ul> 

<form action="{% url "set_language" %}" method="post">
  {% csrf_token %}
  <select name="language">
    <option value="en"{% if LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
    <option value="es"{% if LANGUAGE_CODE == 'es' %}selected{% endif %}>Español</option>
  </select>
  <input type="hidden" name="next" value="{{ request.path }}">
  <button type="submit">Cambiar idioma</button>
</form>

{% if messages %}
  <section class="messages">
    <ul>
      {% for message in messages %}
        <li class="message {{message.tags }}">{{message}}</li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
